/*
Theme Name: Reiki
Theme URI:
Author: CloudPress
Author URI: http://cloud-press.net
Description: Reiki is a simple, yet beautiful WordPress Theme that can be used for both blogs and websites. It is responsive so it works on mobile devices out of the box. It also provides a separate font page template with a large header image.
Version: 1.1.0
License: GNU General Public License version 3
License URI: http://www.opensource.org/licenses/gpl-license.php GPL v3.0 (or later)
Tags: one-column, right-sidebar, custom-header, custom-menu, custom-logo, full-width-template, theme-options, translation-ready, blog, featured-images, threaded-comments
Text Domain: reiki

This theme, like WordPress, is licensed under the GPL.
*/


/* reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

select {
    -webkit-appearance: menulist;
    appearance: menulist;
    -moz-appearance: menulist;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    color: #666666;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}   

caption, th, td {
    text-align: left;
    font-weight: normal;
}

.clear {
    clear:both;
}

div, ul, li, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    zoom: 1; 
}

div:before, article:before, aside:before, details:before, figcaption:before, figure:before, 
footer:before, header:before, hgroup:before, menu:before, nav:before, section:before, div:after, ul:after, article:after, aside:after, details:after, figcaption:after, figure:after, 
footer:after, header:after, hgroup:after, menu:after, nav:after, section:after {
    content: ""; 
    display: table; 
}

div:after, article:after, aside:after, details:after, figcaption:after, figure:after, 
footer:after, header:after, hgroup:after, menu:after, nav:after, section:after { 
    clear: both; 
}


fieldset, form,
dl, dir,
menu            { 
    margin: 1.12em 0;
}


img {
    vertical-align: top;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.footer p {
    color: #ffffff;
}

p {
    margin: 0 0 18px 0;
    color: #777777; 
    font: normal normal 400 18px/130% Source Sans Pro, sans-serif;
}

h1 {
    margin: 0 0 54px 0;
    color: #000000;
    text-transform: uppercase;
    font: normal normal 600 54px/115% Source Sans Pro, sans-serif;
}

h2 {
    margin: 0 0 27px 0;
    color: #3D3D3D;
    font: normal normal 300 40px/110% Source Sans Pro, sans-serif;
}

h3 {
    margin: 0 0 27px 0;
    color: #333333;
    font:normal normal 400 26px/125% Source Sans Pro, sans-serif;
    text-transform:uppercase;
}

h4 {
    margin: 0 0 25px 0;
    color: #333333;
    letter-spacing: 3px;
    font: normal normal 600 22px/120% Source Sans Pro, sans-serif;
}

h5 {
    margin: 0 0 27px 0;
    color: #333333;
    font:normal normal 700 18px/150% Source Sans Pro, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

h6 {
    margin: 0 0 14px 0;
    color: #616161;
    text-transform:uppercase;
    letter-spacing:1px;
    font:normal normal 700 14px/100% Source Sans Pro, sans-serif;
}

a { 
    color: #009cdf;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #009cdf;
    text-decoration: underline;
}

a:visited {
    color: #009cdf;
}

ul {
    font-weight: 400;
    line-height: 170%;
    margin: 10px 0px 10px 0px;
    color: #777777;
    padding: 0px 0px 0px 40px;
}

ol {
    font-weight: 400;
    line-height: 170%;
    margin: 10px 0px 10px 0px;
    color: #444444;
    padding: 0px 0px 0px 40px;
}

span {
    font-family: inherit;
}

blockquote {
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 20px 0px;
    border-left: 5px solid #eee;
    font-style: italic;
}

dir, menu, dd { padding-left: 40px }

ol ul, ul ol, ul ul, ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

body img {
    max-width: 100%;
    height: auto;
}


/* =WordPress Core
-------------------------------------------------------------- */

.sticky {}

.gallery-caption {}

.bypostauthor {}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


.post-list a.next-page-link {
    padding: 13px 25px;
    display: inline-block;
    text-decoration: none;
    background-color: #F0F0F0;
    font-size: 13px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post-list a.page-numbers {
    text-decoration: none;
    padding: 12px 15px;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: #666666;
    font-weight: 400;
    transition: all 0.4s linear 0s;
}

.post-list span.current {
    padding: 12px 15px;
    margin-left: 2px;
    margin-right: 2px;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    color: #666666;
}

.post-list a.next-page-link:hover {
    background-color: #9BCB43;
    color: #FFFFFF;
}

span a.post-category:hover {
    color: #2186C4;
    text-decoration: underline;
}


li {
    line-height: 150%;
    color: #333333;
    font-weight: 300;
}

.content {
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    min-height: 700px;
}


.prev-posts a {
    text-decoration: none;
    color: #2186C4;
    font: normal normal 400 18px/normal Source Sans Pro, sans-serif;
}

.next-posts a {
    text-decoration: none;
    color: #2186C4;
    font: 400 18px Source Sans Pro, sans-serif;
}

.heading91 {
    text-align: left;
    font-size: 70px;
    line-height: 110%;
    margin-top: 110px;
}

body {
    font-family: Source Sans Pro, sans-serif;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 170%;
    color: #777777;
    text-align: center;
}

a.text-logo, a.text-logo:hover {
    color: #FFFFFF;
    text-transform: none;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    text-decoration: none;
    display: block;
    font: normal normal 400 60px/100% Source Sans Pro, sans-serif;
    display: inline-block;
}

a.custom-logo-link {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    height: 70px;
    display: inline-block;
}

img.custom-logo {
    vertical-align: middle;
    max-height: 100%;
}


/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    top:0px;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

.gridContainer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.gridContainer .row {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
}

.header, .header-homepage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: #FFFFFF;
}

.header-homepage:before, .header:before {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1;
    background-color: rgba(46, 46, 46, 0.49);
    display: inline-block;
    content: "";
}

.header-homepage:before {
    background-color: rgba(125, 55, 120, 0.32);
}

.header_title {
    margin: 40px auto;
}

.border_bottom {
    border-bottom: 2px solid #FFFFFF;
}

.logo_col {
    float: left;
    width: 50%;
    min-height: 100px;
    padding: 20px 15px;
    text-align: left;
}

.main_menu_col {
    float: left;
    width: 50%;
    min-height: 100px;
    padding: 20px 15px;
}

.post-content {
    min-height: 222px;
}

h1.heading98 {
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
}

h1.heading8 {
    color: #FFFFFF; 
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 45px;
    text-align: left;
    color: #FFFFFF;
}

.row_42 {
    margin-left: -15px;
    margin-right: -15px;
}

h1.logo {
    text-transform: none;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFFFFF;
    font-size: 60px;
}


.footer_left {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    margin-top: 18px;
}

.footer_right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

h2.footer-logo {
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 15px;
}

.footer {
    background-color: #3F464C;
    color: #fff;
}

.footer a.custom-logo-link {
    height: 80px;
    line-height: 70px;
    display: inline-block;
}

.page-links span {
    padding-right: 5px;
    padding-left: 5px;
}

.page-links .page-links-title {
    padding-left: 0;
}


/* post css */

.post-item, .post-list {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100px;
}

.blog-post {
    border-bottom: 1px solid #CFCFCF;
    margin-bottom: 20px;
}

.blog-title a {
    text-decoration: none;
    color: #333333;
}

.blog-title a:hover {
    text-decoration: underline;
    color: #2186C4;
}

.navigation {
    margin-top: 30px;
}

.prev-navigation, .next-navigation {
    width: 30%;
    float: left;
}

.next-navigation {
    text-align: right;
}

.numbers-navigation {
    text-align: center;
    width: 40%;
    float: left;
}

a.page-numbers:hover {
    transition: all 0.2s ease-out 0s;
    background-color: #EBEBEB;
}

.prev-navigation a, .next-navigation a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #EBEBEB;
    color: #333333;
    letter-spacing: 2px;
    text-decoration: none;
    font: normal normal 600 16px/normal Source Sans Pro, sans-serif;
    border-radius: 10px;
    transition: all 0.4s linear 0s;
}

.prev-navigation a:hover, .next-navigation a:hover {
    background-color: #FF7F66;
    color: #FFFFFF;
    transition: all 0.2s ease-out 0s;
}

.fa.font-icon-post {
    font-size: 20px;
    color: #2186C4;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.post-header {
    min-height: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #666666;
    font: normal normal 400 18px/normal Source Sans Pro, sans-serif;
}

.post-header a {
    color: #2186C4;
}

.post-header a:hover {
    text-decoration: underline;
}


/* sidebar css */

.sidebar {
    float: none;
    min-height: 200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    padding-top: 15px;
}

.sidebar a {
    color: #333333;
    line-height: 220%;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.4s linear 0s;
    text-decoration: none;
}

.sidebar a:visited {
    color: #0B679C;
}

.sidebar a:hover {
    color: #2186C4;
    transition: all 0.2s ease-out 0s;
}

.widget .searchform #s {
    width: 100%;
    border-style: solid;
    padding-left: 40px;
    display: inline-block;
    min-height: 42px;
    border-width: 1px;
    border-color: #E0E0E0;
    background: #fff url(assets/images/searchIcon_normalState.png) no-repeat scroll 8px 10px;
    color: #666;
    outline: 0;
    margin-top: 0;
    transition: all .4s linear 0s;
    text-transform: uppercase;
}

.widget .searchform {
    min-height: 44px;
}

.widget .searchform input {
    display: none;
}

.widget .searchform #s:hover {
    border-color: #2186C4;
}

.widget>ul {
    padding-left: 0px;
    min-height: 30px;
    list-style: none;
}

.widget>.widgettitle {
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 18px;
    border-bottom: 0px solid rgb(224, 224, 224);
    color: #3D3D3D;
    text-transform: uppercase;
    position: relative;
}

.widget .widgettitle:before {
    content: "";
    width: 41px;
    height: 3px;
    background-color: #2186C4;
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
}

.widget>ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E0E0E0;
    font-weight: 300;
    font-family: Source Sans Pro, sans-serif;
    font-size: 18px;
}

.widget>ul>li a :active {
    color: #2186C4;
}


/*menu css*/

div#drop_mainmenu_container {
    z-index: 9999;
    vertical-align: top;
    padding-top: 0.5em;
}

div#drop_mainmenu_container ul {
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

#drop_mainmenu {
    position: relative;
    text-align: right;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    font-size: 0px;
}

#drop_mainmenu ul {
    display: block;
}

#drop_mainmenu a:active, #drop_mainmenu a:focus {
    outline-style: none;
}

#drop_mainmenu a {
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font: normal normal bold 12px/120% Source Sans Pro, sans-serif;
    text-transform: uppercase;
}

#drop_mainmenu ul ul li {
    position: relative;
}

#drop_mainmenu li>ul {
    display: none;
}

#drop_mainmenu li:hover a, #drop_mainmenu li.hover a {
    transition: all 0.3s;
}

#drop_mainmenu>li>a {
    transition: all 0.3s;
    width: auto;
    height: 100%;
    padding: 0.4em 0.8em;
    border-radius: 25px;
    border: 2px rgba(255, 255, 255, 0) solid;
}

#drop_mainmenu>li {
    padding: 0;
    line-height: 100%;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    display: inline-block;
    position: relative;
    padding-bottom:10px;
}

#drop_mainmenu>li:hover>a, #drop_mainmenu>li.hover>a {
    border: 2px rgba(255, 255, 255, 0.5) solid;
}

#drop_mainmenu>li.current_page_item>a {
    border: 2px rgba(255, 255, 255, 1) solid;
}

#drop_mainmenu li>.ui-effects-wrapper {
    top: 58px;
    left: 0px;
}

#drop_mainmenu li ul {
    top: 50px;
    left: 0px;
}

#drop_mainmenu ul {
    width: auto;
    height: auto;
    padding: 7px 0px 7px 0px;
}

#drop_mainmenu ul li a {
    border: 0px;
    padding: 16px 18px;
    height: 100%;
    min-height: 0px;
    margin: 0;
    letter-spacing: 0px;
    border-radius: 10px;
    text-align: left;
}

#drop_mainmenu ul li {
    width: 160px;
    padding: 0 0px 0px 0px;
    vertical-align: top;
    position: relative;
}

#drop_mainmenu ul li:hover>a, #drop_mainmenu ul li.hover>a {
    background-color: #2186C4;
    border: 0 none transparent;
    letter-spacing: 0px;
}

#drop_mainmenu ul li a.current_page_item {
    background-color: rgba(0, 0, 0, 0.1);
}

#drop_mainmenu ul li ul {
    left: 161px;
    top: 0px;
    margin-top: 0px;
}

#drop_mainmenu>li>a {
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
}

#drop_mainmenu>li ul {
    top: auto;
    border-bottom-width: 5px;
    border-bottom-color: #9BCB43;
    border-left-color: rgba(0, 0, 0, 0);
    padding: 0px;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #3F464C;
    z-index: 9999;
}

#drop_mainmenu ul li a, #drop_mainmenu ul li a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
}


/************************* mobile menu ************************/

.fm2_drop_mainmenu_mobile-overlay {
    background: rgba(0, 0, 0, 0.70) none repeat top left scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    display: inline;
    z-index: 10050;
    position: fixed!important;
}

.fm2_drop_mainmenu_mobile-overlay-hide {
    background: rgba(0, 0, 0, 0) none repeat top left scroll;
    display: none;
}

a#fm2_drop_mainmenu_mobile_button span.caption {
    text-transform: uppercase;
    background: url("assets/images/hamburger.png") 0px center no-repeat scroll transparent;
    background-position: left center;
    padding-left: 20px;
    color: #9BCB43;
    display: inline-block;
    min-height: 20px;
    font: normal normal 400 16px/normal Source Sans Pro, sans-serif;
}

a#fm2_drop_mainmenu_mobile_button span.down-arrow {
    display: none;
}

#fm2_drop_mainmenu_jq_menu_back {
    position: relative!important;
    top: 0px!important;
}

div#fm2_drop_mainmenu_jq_menu_back div.main-menu-header {
    background: transparent url("assets/images/close_icon.png") no-repeat center center scroll;
    padding: 14px;
    position: relative;
    width: 14px;
    height: 14px;
    float: right;
    text-align: center;
    font-size: 14px;
    margin-top: 9px;
    margin-right: 10px;
    z-index: 1;
    box-sizing: content-box;
}

div#fm2_drop_mainmenu_jq_menu_back div.main-menu-header p font.caption:before {
    background: transparent url("assets/images/mini_menu.png") no-repeat -2px scroll;
    width: 18px;
    content: ' ';
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 9px;
}

div#fm2_drop_mainmenu_jq_menu_back {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    top: 0px;
    left: 0px;
    background-color: #333333;
}

div#fm2_drop_mainmenu_jq_menu_back ul {
    margin-left: 20px;
    list-style-type: none;
    list-style-image: none;
    padding: 10px 0px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header {
    background: transparent none repeat top left scroll;
    position: relative;
    width: auto;
    display: block;
    text-align: center;
}

div#fm2_drop_mainmenu_jq_menu_back a {
    padding: 1em 0px 1em 0px;
    overflow: hidden;
    background-color: #3377FF;
    font-family: inherit;
    font-weight: bold;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>a {
    margin-left: 10px;
    margin-top: 14px;
    display: inline-block;
    width: 50px;
    height: 53px;
    float: left;
    background-color: blue;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: transparent url("assets/images/mini_arrow_large.png") no-repeat center scroll;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>a:hover, div#fm2_drop_mainmenu_jq_menu_back div.menu-header>a.hover {
    background-color: lime;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p {
    margin: 0 0 0 0;
    color: #FFF;
    text-indent: -40px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p:hover, div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p.hover {
    color: #CCF;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p a {
    background: transparent none repeat left top scroll;
    text-decoration: none;
    display: block;
    width: auto;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container>.menu {
    float: left;
    width: 100%;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    position: relative;
    background-color: #F7F7F7;
    line-height: 50px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li p {
    margin: 0 0 0 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: inherit;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li a {
    background: transparent none repeat left top scroll;
    border-left: 0 none #000000;
    border-top: 0 none #000000;
    border-bottom: 0 none #000000;
    border-right: 0 none #000000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .branch, div#fm2_drop_mainmenu_jq_menu_back div.menu-container .leaf {
    margin: 0 5px 0 5px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .branch:before {
    content: "+ ";
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .leaf:before {
    content: "- ";
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li.ellipsis a {
    width: auto;
    float: left;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li a {
    padding: 0 9px 0 9px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li a, div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li a span {
    color: white;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .leaf:before, div#fm2_drop_mainmenu_jq_menu_back div.menu-container .branch:before {
    width: 10px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .leaf:before {
    background: transparent url("assets/images/mini_circle.png") no-repeat top left scroll;
    opacity: 0.5;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .branch:before {
    background: transparent url("assets/images/mini_arrow.png") no-repeat top left scroll;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .branch:before, div#fm2_drop_mainmenu_jq_menu_back div.menu-container .leaf:before, a#fm2_drop_mainmenu_mobile_button span.caption:before {
    content: ' ';
    height: 20px;
    display: inline-block;
    vertical-align: text-bottom;
    background-position: -2px 1px;
    margin-right: 9px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li.ellipsis, div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p a {
    background-color: transparent;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p a {
    text-align: center;
    color: #FFFFFF;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-header>a:hover, div#fm2_drop_mainmenu_jq_menu_back div.menu-header>a.hover {
    background-color: transparent;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li {
    height: 43px;
    line-height: 0;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li.ellipsis a {
    margin-top: 10px;
}

div#fm2_drop_mainmenu_jq_menu_back li a p, div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li a, div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li a span, div#fm2_drop_mainmenu_jq_menu_back div.menu-header>p a {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 7px;
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container ul li.ellipsis, div#fm2_drop_mainmenu_jq_menu_back div.menu-header {
    background-color: transparent;
}

a#fm2_drop_mainmenu_mobile_button {
    margin-left: 0px;
    margin-right: 0px;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    color: #38AFFF;
    text-align: right;
    padding-left: 10px;
    font-weight: 700;
    font-family: inherit;
    font-size: 17px;
    border-radius: 0px;
    padding-right: 20px;
    padding: 1em 0px 1em 0px;
    position: relative;
    width: auto;
    text-decoration: none;
    min-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

div#fm2_drop_mainmenu_jq_menu_back div.main-menu-header p span.caption:before {
    background-image: url("assets/images/mini_menu.png");
}

div#fm2_drop_mainmenu_jq_menu_back div.menu-container .branch:before {
    background: transparent url("assets/images/mini_arrow.png") no-repeat top left scroll;
}


.nav-links {
    display: block;
    width: 100%;
    clear: both;
}

.nav-previous a, .nav-next a {
    background-color: #2186c4;
    padding: 3px 10px;
    color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 220px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-previous a:hover, .nav-next a:hover {
    text-decoration:none;
    background-color: #339ad6;
}

.nav-previous a:before {
    display: inline-block;
    font-family:FontAwesome;
    margin-right:6px;
    content: "\f100";
}

.nav-next a:after {
    display: inline-block;
    font-family:FontAwesome;
    margin-left:6px;
    content: "\f101";
}

.nav-previous, .nav-next {
    width: 50%;
    float: left;
    height: auto;
}

.nav-previous {
    text-align: left;
}

.nav-next {
    text-align: right;
}


/* comments css */

.comment-form .comment-respond .comment-form p input,
.comment-form .comment-respond .comment-form p textarea {
    width: 100%;
    border-radius: 3px;
    border-color: #DBDBDB;
    border-style: solid;
    border-width: 1px;
    height: 50px;
}

.comment-form .comment-respond .comment-form p #comment {
    height: 200px;
}

#comments {
    font-size: 18px;
    margin-bottom: 50px;
}

.comment-form h3.comment-reply-title {
    font-size: 30px;
    font-weight: 400;
}

.comment-form .comment-respond .comment-form p label {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 15px;
    color: #666666;
}

.comment-form .comment-respond .comment-form p.form-submit #submit {
    background-color: #2186C4;
    padding: 16px 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    -webkit-border-radius: 3px;
    border-color: transparent;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: none;
    border-width: 0px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    width: auto;
}

.comment-form .comment-respond .comment-form p.form-submit #submit:hover {
    background-color: #339AD6;
}

.comment-form .comment-respond .comment-form p.form-submit #submit:focus {
    background-color: #0077ff;
}

.commentlist .children {
    margin-top: 20px;
}

.commentlist>li.comment:after {
    content: "";
    display: table;
    clear: both;
}

.commentlist .avatar {
    height: 39px;
    left: 2.2em;
    top: 2.2em;
    width: 39px;
}

.comment cite, .comment a {
    margin-left: 50px;
}

.commentlist li.comment .comment-body .comment-author {
    padding-left: 15px;
    padding-right: 15px;
}

.commentlist li.comment .comment-body .comment-meta {
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    padding-top: 7px;
}

.commentlist, .commentlist ul {
    list-style: none;
}

.commentlist {
    padding-left: 0px;
}

.comment cite.fn {
    margin-top: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
}

.navigation {
    margin-top: 30px;
}

.navigation .prev-posts {
    float: left;
    display: inline-block;
}

.navigation .next-posts {
    float: right;
    display: inline-block;
}

.comment-body:after {
    content: "";
    display: table;
    clear: both;
}

.navigation .prev-navigation {
    display: inline-block;
    width: 33%;
    height: 24px;
    float: left;
}

.navigation .numbers-navigation {
    display: inline-block;
    width: 33%;
    height: 24px;
    text-align: center;
    padding-top: 15px;
}

.navigation .next-navigation {
    display: inline-block;
    width: 33%;
    height: 24px;
    text-align: right;
}

.comment a {
    text-decoration: none;
    color: #666666;
    margin-left: 15px;
    font: normal normal 300 18px/normal Source Sans Pro, sans-serif;
}

.comment a.comment-edit-link {
    color: #666666;
    margin-left: 10px;
    display: none;
}

div a.comment-edit-link:hover {
    color: #0099ff;
}

.commentlist li.comment .comment-body p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 52px;
    font-weight: 400;
    color: #666666;
    font-size: 18px;
}

.comment-body p {
    font-size: 14px;
    text-align: left;
}

.commentlist li.comment .comment-body {
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
}

.comment a.comment-reply-link {
    padding: 10px 17px;
    background-color: #E6E6E6;
    min-width: 50px;
    margin-left: auto;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: normal normal 600 16px/normal Source Sans Pro, sans-serif;
    text-transform: uppercase;
}

div a.comment-reply-link:hover {
    background-color: #FF7F66;
    color: #FFFFFF;
    font: normal normal 600 16px/normal Source Sans Pro, sans-serif;
    text-transform: uppercase;
}

.comment a.url {
    color: #333333;
    font-weight: 600;
}

.commentlist li.comment.even {
    background-color: #f5f5f5;
}

.commentlist li.comment.odd {
    background-color: #ffffff;
}

.commentlist>li.comment {
    background: none;
    position: relative;
    width: auto;
    clear: both;
}

div .commentlist li {
    padding: 20px;
}

span.comments-number {
    font-size: 30px;
    font-weight: 400;
}

.comment-respond {
    font-weight: 400;
    font-size: 13px;
}

.comments-form {
    margin-top: 0px;
    font-size: 13px;
}

.comments-form a {
    font-size: 18px;
    color: #2186C4;
    text-decoration: none;
}

.comment-form label {
    display: block;
}

p.logged-in-as {
    font-weight: 400;
    font-size: 16px;
}

.post-comments .navigation .prev-posts a:hover, .post-comments .navigation .next-posts a:hover {
    text-decoration: underline;
}

.comment-form .comment-respond .comment-form p.logged-in-as a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    body {
        text-align: left;
    }
    h2 {
        font-size: 46px;
    }
    h3 {
        font-size: 30px;
    }
    p {
        line-height: 130%;
    }
    .gridContainer {
        width: 90%;
        max-width: 1232px;
    }

    .content {
        min-height: 398px;
    }
    h1.heading8 {
        font-size: 70px;
    }
    .header {
        min-height: 100px;
        width: 100%;
    }
    .logo_col {
        float: left;
        width: 20%;
        min-height: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_menu_col {
        float: left;
        width: 80%;
        min-height: 103px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 30px;
    }
    .header_description {
        width: 50%;
        padding-top: 110px;
    }
    .footer_left {
        float: left;
        width: 66.6667%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer_right {
        float: left;
        width: 33.3333%;
        padding-left: 15px;
        padding-right: 15px;
        text-align: right;
    }
    /* post css */
    .post-list, .post-item {
        float: left;
        width: 75%;
    }
    .post-list-large, .post-item-large {
        width: 100%;
    }
    .prev-navigation, .next-navigation {
        width: 20%;
    }
    .numbers-navigation {
        width: 60%;
    }

    /* sidebar css */
    
    .sidebar .widget:first-child > :first-child {
        margin-top: 25px;
    }

    .sidebar {
        float: left;
        min-height: 700px;
        width: 25%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0px;
        padding-top: 0px;
        border-left-color: #E0E0E0;
        border-left-width: 1px;
        border-left-style: solid;
    }
    .widget .searchform #s {
        min-height: 42px;
        border-style: solid;
        padding-left: 40px;
    }
    .widget .widget_archive ul {
        min-height: 30px;
    }
    .widget>ul {
        list-style: none;
    }
    .widget .widgettitle:before {
        left: 0;
    }

    /* comments css */
    .comment-form .comment-respond .comment-form p.form-submit #submit {
        border-width: 0px;
    }
    .commentlist li.comment .comment-body .comment-author {
        width: 33.3333%;
    }
    .commentlist li.comment .comment-body .comment-meta {
        width: 66.6667%;
    }
    .commentlist li.comment .comment-body .reply {
        width: auto;
        min-height: 40px;
    }
    .comment cite.fn {
        margin-left: 10px;
    }
    .commentlist li.comment .comment-body {
        margin-left: -15px;
        width: 100%;
    }
    .commentlist li.comment.even {}
}

@media only screen and (min-width: 1024px) {
    h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 32px;
    }
    p {
        line-height: 150%;
    }
    .gridContainer {
        width: 80%;
    }
    .header-homepage {
        min-height: 597px;
    }
    .header {
        min-height: 220px;
    }

    h1.heading8 {
        margin-left: 5%;
    }
    
    .logo_col {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .main_menu_col {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header_description {
        width: 50%;
        min-height: 492px;
    }
    h1.heading98 {
        font-size: 70px;
    }
    .footer {
        border-style: solid;
        border-top-color: #FF7F66;
        border-width: 5px 0 0 0;
    }
    .widget>ul {
        padding-left: 30px;
        list-style: circle none;
    }

    /* comments css */
    .comment-form .comment-respond .comment-form p.comment-notes,
    .comment-form .comment-respond .comment-form p.form-allowed-tags {
        display: none;
    }

    .comment-form .comment-respond .comment-form p label {
        display: block;
    }
   
    .post-list .navigation {
        clear: both;
    }
    
    .comment-form .comment-respond .comment-form p.form-submit #submit {
        border-width: 0;
        border-style: none;
    }

    .commentlist li.comment .comment-body .comment-author {
        width: 33.3333%;
        float: left;
        padding-left: 0px;
    }

    .commentlist li.comment .comment-body .comment-meta {
        width: 66.6667%;
        float: left;
        padding-right: 0px;
    }
    
    .commentlist li.comment .comment-body .reply {
        float: right;
        width: auto;
        min-height: 40px;
        clear: both;
    }
    
    .comment cite.fn {
        margin-left: 10px;
        display: inline-block;
    }
    .comment a.url {
        margin: 0px;
    }
    .comment a {}
    .comment a.comment-reply-link {
        margin-left: auto;
        display: inline-block;
        float: left;
    }
    .commentlist .avatar {
        display: inline-block;
    }
    .navigation .prev-navigation {
        width: 33.3%;
        min-height: 0px;
        height: 50px;
        float: left;
    }
    .navigation .numbers-navigation {
        width: 33.3%;
        min-height: 0px;
        height: 50px;
        float: left;
    }
    .navigation .next-navigation {
        width: 33.3%;
        min-height: 0px;
        height: 50px;
        float: left;
    }
    .post-list a.next-page-link {
        padding-left: 25px;
        padding-right: 25px;
    }
    .commentlist li.comment .comment-body p {
        float: left;
        clear: both;
    }
    .commentlist li.comment .comment-body {
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media only screen and (min-width: 1025px) {
    div#drop_mainmenu_container {
        padding-top: 5px;
    }

    #drop_mainmenu>li{
        margin-left: 5px;
        margin-right: 5px;
    }

    #drop_mainmenu>li>a{
        font-size: 16px;
        padding: 10px 15px;
    }
}